html,
body > div {
  height: 100%;
}
body {
  height: calc(100% - 4em);
}
body > div {
  background-image: url('/assets/path.png');
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  aspect-ratio: 1039 / 1805;
  width: 100%;
  background-size: contain;
  height: auto;
}
div > div {
  background-color: var(--secondary);
  width: 100%;
  height: 100%;
}
