nav {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: darkgray;
}
#nav-list {
  grid-column: 2 / 3;
}
#nav-map {
  grid-column: 3 / 4;
}
nav > div {
  margin: auto;
}
nav > div > img {
  height: 2em;
  width: auto;
}
