body {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  margin: 0.5em auto 3.5em auto;
  justify-content: center;
}
.card {
  border-color: black;
  border-width: 1px;
  width: 30%;
  height: auto;
  aspect-ratio: 3 / 4;
  border-style: solid;
  border-radius: 15px;
  padding: 10px;
  background-color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  display: flex;
  flex-direction: column;
  background-size: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
p {
  margin: 0;
  font-size: medium;
  text-align: center;
}
.space {
  flex: 1;
}
input {
  display: none;
}
