body {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  margin-bottom: 3em;
}
.card {
  border-color: black;
  border-width: 1px;
  width: 9em;
  height: 12em;
  border-style: solid;
  margin: 5px;
  border-radius: 15px;
  padding: 10px;
  background-color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  display: flex;
  flex-direction: column;
  background-size: 100%;
  background-repeat: no-repeat;
}
p {
  margin: 0;
  font-size: medium;
  text-align: center;
}
.space {
  flex: 1;
}
input {
  display: none;
}
